# ── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET_KEY=bismillahaman

# ── Supabase ──────────────────────────────────────────────────────────────────
# Ambil dari: https://supabase.com/dashboard/project/<project>/settings/api
SUPABASE_URL=https://pcrjtftcozvbvacypfno.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjcmp0ZnRjb3p2YnZhY3lwZm5vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc0MTAyNSwiZXhwIjoyMDk4MzE3MDI1fQ.TdDuCJp81Y1rTOmElXwlUIMxDiGFiQEVEooXgNgivs8

# ── Database (Supabase PostgreSQL) ────────────────────────────────────────────
# Ambil dari: https://supabase.com/dashboard/project/<project>/settings/database
# Format: postgresql://postgres:<password>@db.<project-ref>.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.pcrjtftcozvbvacypfno:DwI0PqFOTpogcJ25@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres

# ── Storage bucket names (buat di Supabase Storage) ──────────────────────────
SUPABASE_UPLOADS_BUCKET=submissions
SUPABASE_TEMPLATES_BUCKET=templates

